@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, html {
  cursor: none;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-button,
html::-webkit-scrollbar-button {
  display: none;
}


/* Custom Scrollbar - No arrows */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #00f0ff, #00b8db);
  /* border-radius: 10px; */
  animation: shimmer 2s infinite linear;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

/* Prevent arrows in textarea/input elements */
textarea::-webkit-scrollbar-button,
input::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #00b8db transparent;
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
